@model HomylogicAsp.Models.Devices.Homyoko.EditWeatherStationViewModel
@{
    ViewData["Title"] = "Devices";
    if (ViewData.Model.ID == 0)
        ViewData["SubTitle"] = "Add new homyoko meteo station";
    else
        ViewData["SubTitle"] = "Edit homyoko meteo station";
}

<h1>@ViewData["Title"]</h1>
<h4><img id="navigate-back" src="~/images/svg/arrow-left-short.svg" class="img-navigate-back" />@ViewData["SubTitle"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveHomyokoWeatherStation">
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.DeviceType)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="customs-tab" data-toggle="tab" href="#customs" role="tab" aria-controls="customs" aria-selected="false">Customs</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
                -->
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab" style="padding: 12px;">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notice" class="control-label">Notice</label>
                        <textarea asp-for="Notice" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Notice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IPAddress" class="control-label">IP address</label>
                        <input asp-for="IPAddress" class="form-control" />
                        <span asp-validation-for="IPAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PortNumber" class="control-label">Port number</label>
                        <input asp-for="PortNumber" class="form-control" />
                        <span asp-validation-for="PortNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PacketType" class="control-label">Packet type</label>
                        <select asp-for="PacketType" class="browser-default custom-select form-control">
                            <option value="@X.Homylogic.Models.Objects.Devices.Homyoko.WeatherStation.PacketTypes.Version_1">Version 1.</option>
                            <option value="@X.Homylogic.Models.Objects.Devices.Homyoko.WeatherStation.PacketTypes.Version_2">Version 2.</option>
                        </select>
                        <span asp-validation-for="PacketType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="WriteToBuffer" type="checkbox" class="custom-control-input" id="checkbox-writetobuffer">
                            <label class="custom-control-label" for="checkbox-writetobuffer">Write to input buffer</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="CanAutoDataUpdate" type="checkbox" class="custom-control-input" id="checkbox-autodataupdate">
                            <label class="custom-control-label" for="checkbox-autodataupdate">Auto open and reading</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="ShowOnHome" type="checkbox" class="custom-control-input" id="checkbox-showonhome">
                            <label class="custom-control-label" for="checkbox-showonhome">Show on home screen</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="Disabled" type="checkbox" class="custom-control-input" id="checkbox-disabled">
                            <label class="custom-control-label" for="checkbox-disabled">Disabled</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customs" role="tabpanel" aria-labelledby="customs-tab" style="padding: 12px;">
                    <h4>Temperature 1</h4>
                    <div class="form-group">
                        <label asp-for="CustomsTemperature1.Caption" class="control-label">Caption</label>
                        <input asp-for="CustomsTemperature1.Caption" class="form-control" />
                        <span asp-validation-for="CustomsTemperature1.Caption" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomsTemperature1.Minimum" class="control-label">Minimum - Cold [°C]</label>
                        <input asp-for="CustomsTemperature1.Minimum" class="form-control" />
                        <span asp-validation-for="CustomsTemperature1.Minimum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomsTemperature1.Maximum" class="control-label">Maximum - Hot [°C]</label>
                        <input asp-for="CustomsTemperature1.Maximum" class="form-control" />
                        <span asp-validation-for="CustomsTemperature1.Maximum" class="text-danger"></span>
                    </div>
                    <h4>Temperature 2</h4>
                    <div class="form-group">
                        <label asp-for="CustomsTemperature2.Caption" class="control-label">Caption</label>
                        <input asp-for="CustomsTemperature2.Caption" class="form-control" />
                        <span asp-validation-for="CustomsTemperature2.Caption" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomsTemperature2.Minimum" class="control-label">Minimum - Cold [°C]</label>
                        <input asp-for="CustomsTemperature2.Minimum" class="form-control" />
                        <span asp-validation-for="CustomsTemperature2.Minimum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomsTemperature2.Maximum" class="control-label">Maximum - Hot [°C]</label>
                        <input asp-for="CustomsTemperature2.Maximum" class="form-control" />
                        <span asp-validation-for="CustomsTemperature2.Maximum" class="text-danger"></span>
                    </div>
                    <h4>Wind speed</h4>
                    <div class="form-group">
                        <label asp-for="CustomsWindspeed.LightAir" class="control-label">Light air [m/s]</label>
                        <input asp-for="CustomsWindspeed.LightAir" class="form-control" />
                        <span asp-validation-for="CustomsWindspeed.LightAir" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomsWindspeed.GentleBreeze" class="control-label">Gentle breeze [m/s]</label>
                        <input asp-for="CustomsWindspeed.GentleBreeze" class="form-control" />
                        <span asp-validation-for="CustomsWindspeed.GentleBreeze" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomsWindspeed.StrongBreeze" class="control-label">Strong breeze [m/s]</label>
                        <input asp-for="CustomsWindspeed.StrongBreeze" class="form-control" />
                        <span asp-validation-for="CustomsWindspeed.StrongBreeze" class="text-danger"></span>
                    </div>
                    <h4>Sunshine</h4>
                    <div class="form-group">
                        <label asp-for="CustomsSunshine.Day" class="control-label">Day starts [%]</label>
                        <input asp-for="CustomsSunshine.Day" class="form-control" />
                        <span asp-validation-for="CustomsSunshine.Day" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @if (ViewData.Model.SaveException != null)
                {
                    <label class="control-label text-danger">@ViewData.Model.SaveException.Message</label><br>
                }
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
